<% include partials/header %>
<section class="section-services padding">
<div class="container">
  <div class="row">
  <div class="col-12 text-center my-3">
  <h1> Hinnasto </h1>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Palvelut</th>
        <th scope="col">Hinnasto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
        Uuden tietokoneen käyttöönottoasennus
        </td>
        <td>69.00€</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Tietokoneen kattava vuosihuolto</td>
        <td>99.00€</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Tietokoneen perushuolto</td>
        <td>69.00€</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Virusten ja haittaohjelmien poisto</td>
        <td>69.00€</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Tietokoneen perushuolto ja kaikkien tiedostojen varmuuskopiointi</td>
        <td>89.00€</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Kirjallinen korjauksen kustannusarvio vakuutusyhtiölle</td>
        <td>69.00€</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Vian selvitys/tutkintamaksu (ei peritä, jos huolletaan meillä)</td>
        <td>29.00€</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Tietokoneen nouto huoltoon ja palautus asiakkaalle</td>
        <td>25.00€</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Huoltopalvelu / tuntiveloitus</td>
        <td>65.00€</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Asiakaskäynnillä / tuntiveloitus</td>
        <td>65.00€</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>Huoltotyö etäyhteyden kautta 1.00€/ min. (min.10.00€/kerta)</td>
        <td>1.00€</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
</section>
<% include partials/footer %>