<% include partials/header %>

<section class="section-home">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 landing-text">
        <h1>Tietokone rikki? <br>Puhelin rikki? <br>Netti ei toimi?</h1>
        <h3 class="display-5">Toimivan huoltomme kautta saat nopeasti tarvitsemasi huollon laitteillesi. </h3>
        <button class="mt-3 mb-md-3 btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#contactMe">Ota yhteyttä</button>
    </div>

    <div class="col-lg-6 d-md-none d-lg-block">
      <img class="landing-image img-fluid" src="img/computer2.png"  alt="">
    </div>

  </div>
</div>
</section>

  <section class="section-services padding">
    <div class="container">
        <div class="col-sm-12 text-center">
          <h1>Winhaict on tietotekniikan asiantuntija Ylivieskassa</h1><hr>
          <p class="lead">Ota yhteyttä! Toimivan huoltomme kautta saat nopeasti tarvitsemasi huollon laitteillesi. </p>
        </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-3">
            <div class="card-body text-center">
              <img class="my-4 card-img-top img-fluid" src="img/computer-screen.svg" alt="Card image cap">
              <h3 class="card-title">Tietokoneet</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button id="tryme" class="btn btn-primary btn-outline-dark">Lue lisää</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-3">
            <div class="card-body text-center">
              <img class="my-4 card-img-top img-fluid" id="icon-img-phone" src="img/icon.svg" alt="Card image cap">
              <h3 class="card-title">Puhelimet ja tabletnit</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary btn-outline-dark">Lue lisää</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-3">
            <div class="card-body text-center">
              <img class="my-4 card-img-top img-fluid" src="img/elisa.png" alt="Card image cap">
              <h3 class="card-title">Saunalahti liittymät</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary btn-outline-dark">Lue lisää</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="fixed" class="landing-text offer">
  <h1>Syystarjous</h1>
  <h3 class="lead">Tietokoneen vuosihuolto + tiedostojen varmuuskopiointi 69,-</h3>
</section>

<section class="padding section-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7">
        <img src="img/logo.svg" alt="">
      </div>
      <div class="col-lg-6 col-md-5">
        <h4>Tietokonehuolto Ylivieska</h4>
        <p class="">Winhaict on ammattitaitoinen, nopea ja luotettava tietotekniikkahuolto Ylivieskassa, Savarin kauppa-alueella. Palvelemme sekä yksityis- että yritysasiakkaita kaikissa tietotekniikkaan liittyvissä asioissa. Huoltoliikkeemme toimii kauppakeskus ISO-Kärkkäisellä. </p>
        <p class="">Näin meiltä löytyvät saman katon alta laitteet, ohjelmistot ja tietoliikenneyhteydet sekä asennus-, huolto-, korjaus- ja tukipalvelut.</p>
        <a href="#" class="btn btn-primary btn-outline-dark">Lue lisää yrityksestämme</a>
      </div>
    </div>
  </div>
</section>

<section class="padding section-features">
  <div class="container">
    <div class="col-12 section-features-text">
      <h4 class="section-features-title">Huoltopalvelumme on juuri sinua varten.</h4>
      <p class="section-features-subtitle">Kotihuolto antaa henkilökohtaista atk-palvelua kotonasi. Nyt voit unohtaa tietokoneen ja lisälaitteiden edestakaisen raahaamisen huoltopisteille. Kotihuoltopalvelumme korjaa vian kuntoon kotonasi edullisesti ja nopeasti. Ota yhteyttä ja tilaa vaivaton kotihuolto.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card">
        <img class="card-img-top" src="img/services_icons/wrench.svg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Tietotekniikan huolto ja ylläpito</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
          <div class="card">
          <img class="card-img-top" src="img/services_icons/monitor.svg" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Laitteiden ja ohjelmistojen asennus</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique..</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
          <div class="card">
          <img class="card-img-top" src="img/services_icons/shield.svg" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Virustorjunta, haittaohjelmien poisto ja muut tietoturvapalvelut</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card" >
        <img class="card-img-top" src="img/services_icons/support.svg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Ohjelmistojen ja laitteiden käyttöohjaus</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
          <div class="card" >
          <img class="card-img-top" src="img/services_icons/database.svg" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Tiedostojen varmuuskoiointi</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
          <div class="card" >
          <img class="card-img-top" src="img/services_icons/folder.svg" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">Kadonneiden tiedostojen palautus</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 section-features-text">
    <button class="mt-3 btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#contactMe">Ota yhteyttä</button>
  </div>
</section>

<% include partials/footer %>
<% include modals/forms %>